# Auto detect text files and perform LF normalization
* text=auto

# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary

# Compressed files
*.zip binary
*.gz binary
*.tar binary
